<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>nav bar component</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <nav class="navbar">
            <a class="link link-name" href="#">Welcome, </a>
            <a class="link" href="#">Dashboard</a>
            <a class="link" href="#">Home</a>
        </nav>

        <div class="name-input-container">
            <label for="name-input">Name: </label>
            <input type="text" name="name-input" class="name-input">
        </div>
        
        <script src="./main.js" async defer></script>
    </body>
</html>