:root {
    --background: hsl(0, 0%, 66%); 
    --primary-color: #000000;
    --font-color: #f3ca20; 
    --border-color: #f5e1e1c0; 
}
html, body {
    margin: 0; 
    padding: 0; 
    background-color: var(--background);
    text-align: center;
    color: var(--font-color)
}
@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    body {
        padding: 10px 10px; 
    }
}
main {
    display: inline-block; 
    max-width: 800px; 
    background-color: var(--primary-color);
}
@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    main {
        width: 425px; 
        padding: 5px 5px; 
    }
}
.grid-container {
    display: inline-block; 
}
@media screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .grid-container {
        padding: 10px 10px; 
    }
}

.grid {
    display: flex; 
    flex-wrap: wrap;
    color: var(--font-color);
    background-color: var(--border-color);
    width: 375px; 
    max-width: 400px; 
    height: 400px; 
    border: 10px solid var(--border-color); 
    justify-content: center;
}
.grid div {
    width: 40px; 
    height: 40px; 
}
.snake {
    background-color: green; 
}

.apple {
    background-color: blue; 
}