<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./style.css">
        <link rel="stylesheet" class="theme" href="./theme-light.css">
        <link rel="stylesheet" class="theme" href="./theme-dark.css">
        <link rel="stylesheet" class="theme" href="./theme-scrimba.css">

    </head>
    <body>
        <div class="container">
            <h1 class="padding">Theme Selector</h1>
            <p class="left padding">Select your theme</p> 

            <label class="left padding" for="themes">Choose Theme:</label>
            <select class="left padding" name="themes" id="themes">
                <option value="light">Light</option>
                <option value="dark">Dark</option>
                <option value="scrimba">Scrimba</option>
            </select>

        </div> 
        
        <script src="./main.js" async defer></script>
    </body>
</html>