:root {
    --project-background: #bd5505; 
    --project-primary:  #f7b742;
    --project-font-color:  #FD5602; 
    --project-contrast: #FFAF42; 
}
body {
    margin: 0; 
    padding: 0; 
    text-align: center;
    background-color: var(--project-background)
}
main {
    width: 1360px; 
    max-width: 1440px; 
    margin: 0 auto; 
    display: inline-block; 
    color: var(--project-font-color); 
    padding: 100px 20px; 
}
.counter-main {
    padding: 20px; 
    background-color: var(--project-primary)
}